// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//  Import the default variables
@import "~v-calendar-scheduler/scss/variables";

//  Set your variables
$v-cal-event-bg: salmon; //  Event background color
$v-cal-event-border-radius: 10px; //  Events border radius (all 4 corners)

//  Import the rest
@import "~v-calendar-scheduler/scss/main";

$v-cal-body-bg :#2c2f33;