// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@tailwind base;

@tailwind components;

@tailwind utilities;

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
// root/default variables
:root {
  --text-primary   : #3182ce;
  --text-secondary : #2768a5;
  --text-button : #dbe4ed;
  --text-link: #d5e1ef;
  --text-menu : #dbe4ed;
  --link-white-color:#fff;
  --bg-primary: #f3f8fc;
  --bg-theme: #d6e6f5;
  --bg-secondary: #f0efef;
  --bg-button : #3182ce;
  --bg-menu : #3182ce;
  --bg-menu-hover : #2c52825e;
}

//dark theme
[data-theme="dark"] {
  --text-primary :#c3dafe;
  --text-secondary : #c3aaae;
  --text-link:#1C75B9;
  --text-button : #2b2b2c;
  --text-menu : #c3aaae;
  --link-white-color:#fff;
  --bg-primary:#2c2f33;
  --bg-secondary: #2a2d2f;
  --bg-theme: #23272e;
  --bg-menu : #1a202c;
  --bg-button : #a3bffa;
}
