// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@tailwind base;

@tailwind components;

@tailwind utilities;

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
// root/default variables
:root {
  --text-primary   : rgba(90, 103, 216);
  --text-secondary : #7fa1dd;
  --text-button : white;
  --text-link:#1C75B9;
  --text-menu : rgb(171, 172, 241);
  --link-white-color:#fff;
  --bg-primary: white;
  --bg-theme: white;
  --bg-secondary: #f0efef;
  --bg-button : #434190;
  --bg-menu : #434190;
  
}
//dark theme
[data-theme="dark"] {
  --text-primary :#c3dafe;
  --text-secondary : #c3aaae;
  --text-link:#1C75B9;
  --text-button : #2b2b2c;
  --text-menu : #c3aaae;
  --link-white-color:#fff;
  --bg-primary:#2c2f33;
  --bg-secondary: #2a2d2f;
  --bg-theme: #23272e;
  --bg-menu : #1a202c;
  --bg-button : #a3bffa;
}
